*{
    margin: 0;
}
body{
    background-color: black;
    color: white;
}
.user-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 10px;
}
.user-card{
    padding: 10px;
    border: 1px solid gray;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}
select{
    padding: 10px;
    background-color: black;
    color: white ;
    border-radius: 4px;
}
#filter{
    padding: 8px 40px;
    border: none; 
}
.inputs-list {
    display: flex;
    gap: 20px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}
input{
    background-color: black;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
#add-user-button{
    padding: 10px 40px;
    margin-top: 40px;
}